#s-e972d516-c9a1-43c1-aa88-323961702444 > #backgroundBox {
  position: absolute;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 740.0px;
  width: 100%;
  height: 100%;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_26 {
  position: absolute;
  width: 360.0px;
  min-height: 739.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_26 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_26 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_26 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/c752c135-4c1f-4c1b-98b3-e96a0e2e4023.jpg');
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_26 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_26 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_26 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_27 {
  position: absolute;
  width: 361.0000000000001px;
  min-height: 739.9999999999999px;
  opacity: 0.39;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_27 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_27 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_27 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_27 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_27 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_27 span#rtr-s-Rectangle_27_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_28 {
  position: absolute;
  width: 337.12101618342354px;
  min-height: 619.0px;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_28 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_28 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_28 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_28 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_28 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_28 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_28 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_28 span#rtr-s-Rectangle_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_29 {
  position: absolute;
  width: 337.12101618342365px;
  min-height: 49.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_29 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_29 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_29 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_12 {
  position: absolute;
  width: 89.8989376489129px;
  min-height: 17.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_12 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_12 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_13 {
  position: absolute;
  width: 75.241502162677px;
  min-height: 20.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_13 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_13 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_14 {
  position: absolute;
  width: 64.49271613943756px;
  min-height: 20.499999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_14 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_14 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_30 {
  position: absolute;
  width: 312.69195703969774px;
  min-height: 47.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_30 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_30 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_30 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_30 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_30 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_30 span#rtr-s-Rectangle_30_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_15 {
  position: absolute;
  width: 108.46502259814505px;
  min-height: 17.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_15 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_15 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_31 {
  position: absolute;
  width: 74.26433979692794px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_31 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_31 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_31 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_31 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_31 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_31 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_31 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_31 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_31 span#rtr-s-Rectangle_31_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_32 {
  position: absolute;
  width: 74.26433979692797px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_32 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_32 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_32 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_32 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_32 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_32 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_32 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_32 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_32 span#rtr-s-Rectangle_32_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_33 {
  position: absolute;
  width: 312.69195703969774px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_33 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_33 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_33 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_33 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_33 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_33 span#rtr-s-Rectangle_33_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_16 {
  position: absolute;
  width: 108.46502259814505px;
  min-height: 17.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_16 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_16 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_34 {
  position: absolute;
  width: 74.26433979692794px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_34 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_34 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_34 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_34 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_34 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_34 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_34 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_34 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_34 span#rtr-s-Rectangle_34_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_35 {
  position: absolute;
  width: 74.26433979692797px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_35 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_35 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_35 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_35 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_35 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_35 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_36 {
  position: absolute;
  width: 312.69195703969774px;
  min-height: 46.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_36 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_36 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_36 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_36 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_36 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_36 span#rtr-s-Rectangle_36_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_17 {
  position: absolute;
  width: 108.46502259814505px;
  min-height: 17.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_17 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_17 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_37 {
  position: absolute;
  width: 74.26433979692794px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_37 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_37 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_37 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_37 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_37 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_37 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_37 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_37 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_37 span#rtr-s-Rectangle_37_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_38 {
  position: absolute;
  width: 74.26433979692797px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_38 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_38 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_38 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_38 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_38 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_38 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_38 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_38 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_38 span#rtr-s-Rectangle_38_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_39 {
  position: absolute;
  width: 312.69195703969774px;
  min-height: 47.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_39 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_39 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_39 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_39 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_39 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_39 span#rtr-s-Rectangle_39_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_18 {
  position: absolute;
  width: 108.46502259814505px;
  min-height: 17.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_18 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_18 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_40 {
  position: absolute;
  width: 74.26433979692794px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_40 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_40 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_40 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_40 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_40 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_40 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_40 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_40 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_40 span#rtr-s-Rectangle_40_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_41 {
  position: absolute;
  width: 74.26433979692797px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_41 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_41 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_41 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_41 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_41 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_41 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_41 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_41 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_41 span#rtr-s-Rectangle_41_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_42 {
  position: absolute;
  width: 312.69195703969774px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_42 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_42 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_42 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_42 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_42 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_42 span#rtr-s-Rectangle_42_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_19 {
  position: absolute;
  width: 108.46502259814505px;
  min-height: 17.99999999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_19 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_19 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_43 {
  position: absolute;
  width: 74.26433979692794px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_43 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_43 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_43 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_43 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_43 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_43 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_43 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_43 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_43 span#rtr-s-Rectangle_43_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_44 {
  position: absolute;
  width: 74.26433979692797px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_44 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_44 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_44 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_44 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_44 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_44 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_44 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_44 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_44 span#rtr-s-Rectangle_44_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_45 {
  position: absolute;
  width: 312.69195703969774px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_45 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_45 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_45 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_45 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_45 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_45 span#rtr-s-Rectangle_45_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_20 {
  position: absolute;
  width: 108.46502259814505px;
  min-height: 17.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_20 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_20 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_46 {
  position: absolute;
  width: 74.26433979692794px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_46 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_46 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_46 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_46 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_46 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_46 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_46 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_46 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_46 span#rtr-s-Rectangle_46_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_47 {
  position: absolute;
  width: 74.26433979692797px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_47 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_47 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_47 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_47 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_47 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_47 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_47 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_47 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_47 span#rtr-s-Rectangle_47_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_48 {
  position: absolute;
  width: 312.69195703969774px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_48 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_48 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_48 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_48 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_48 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_48 span#rtr-s-Rectangle_48_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_21 {
  position: absolute;
  width: 108.46502259814505px;
  min-height: 17.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_21 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_21 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_49 {
  position: absolute;
  width: 74.26433979692794px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_49 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_49 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_49 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_49 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_49 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_49 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_49 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_49 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_49 span#rtr-s-Rectangle_49_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_50 {
  position: absolute;
  width: 74.26433979692797px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_50 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_50 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_50 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_50 > .borderLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_50 > .backgroundLayer {
  border-radius: 5px 5px 5px 5px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_50 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_50 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_50 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Rectangle_50 span#rtr-s-Rectangle_50_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Button_2 {
  position: absolute;
  width: 112.37367206114132px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Button_2 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Button_2 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #673FB4;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Button_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 9px 9px 9px 9px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Button_2 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Button_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_22 {
  position: absolute;
  width: 341.32180697226266px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_22 {
  box-shadow: none;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_22 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: center;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_22 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-e972d516-c9a1-43c1-aa88-323961702444 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
