#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 > #backgroundBox {
  position: absolute;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 740.0px;
  width: 100%;
  height: 100%;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_11 {
  position: absolute;
  width: 369.97229916897504px;
  min-height: 750.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_11 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_11 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/c752c135-4c1f-4c1b-98b3-e96a0e2e4023.jpg');
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_12 {
  position: absolute;
  width: 370.9999999999999px;
  min-height: 750.9999999999998px;
  opacity: 0.39;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_12 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_13 {
  position: absolute;
  width: 185.58758314855876px;
  min-height: 38.99999999999994px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_13 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_13 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_13 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_13 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_14 {
  position: absolute;
  width: 347.58597012259855px;
  min-height: 619.0px;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_14 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_14 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_14 > .borderLayer {
  border-radius: 20px 20px 20px 20px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_14 > .backgroundLayer {
  border-radius: 20px 20px 20px 20px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Button_2 {
  position: absolute;
  width: 115.86199004086615px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Button_2 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Button_2 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #673FB4;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Button_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 9px 9px 9px 9px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Button_2 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Button_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_16 {
  position: absolute;
  width: 351.91716239933936px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_16 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_16 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_17 {
  position: absolute;
  width: 351.91716239933936px;
  min-height: 22.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_17 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_17 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_18 {
  position: absolute;
  width: 141.25277161862522px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_18 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_19 {
  position: absolute;
  width: 351.91716239933936px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_19 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_19 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_15 {
  position: absolute;
  width: 185.58758314855876px;
  min-height: 39.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_15 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_15 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_15 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_15 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_20 {
  position: absolute;
  width: 141.25277161862527px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_20 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_21 {
  position: absolute;
  width: 351.91716239933936px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_21 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_21 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_16 {
  position: absolute;
  width: 185.58758314855876px;
  min-height: 38.999999999999886px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_16 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_16 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_16 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_16 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_16 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_22 {
  position: absolute;
  width: 141.2527716186253px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_22 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_22 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_23 {
  position: absolute;
  width: 351.91716239933936px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_23 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_23 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_23 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_17 {
  position: absolute;
  width: 185.58758314855876px;
  min-height: 38.999999999999886px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_17 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_17 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_17 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_17 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_17 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_24 {
  position: absolute;
  width: 149.874278001942px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_24 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_24 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_25 {
  position: absolute;
  width: 351.91716239933936px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_25 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_25 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_25 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_18 {
  position: absolute;
  width: 185.58758314855876px;
  min-height: 39.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_18 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_18 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_18 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_18 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_18 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_26 {
  position: absolute;
  width: 163.27782567378233px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_26 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_26 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_27 {
  position: absolute;
  width: 351.91716239933936px;
  min-height: 22.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_27 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_27 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_27 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_19 {
  position: absolute;
  width: 185.58758314855876px;
  min-height: 38.999999999999886px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_19 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_19 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_19 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_19 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_19 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_19 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_28 {
  position: absolute;
  width: 163.2778256737824px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_28 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_28 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_29 {
  position: absolute;
  width: 351.91716239933936px;
  min-height: 23.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_29 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_29 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_29 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_20 {
  position: absolute;
  width: 185.58758314855876px;
  min-height: 39.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_20 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_20 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_20 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_20 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_20 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_20 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_30 {
  position: absolute;
  width: 163.2778256737824px;
  min-height: 29.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_30 {
  box-shadow: none;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_30 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_30 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 #s-Paragraph_30 span#rtr-s-Paragraph_30_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-f1374d85-ec35-4a80-a3b5-1b95b6351f13 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
