#s-f904b66a-8209-437d-8524-6a62b59ef728 > #backgroundBox {
  background-color: #673FB4;
  position: absolute;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 740.0px;
  width: 100%;
  height: 100%;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-BgWhite {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-BgWhite {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-BgWhite > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-BgWhite > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/d728c894-34bf-45cc-ac0a-a8ce4e649702.jpg');
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-BgWhite .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-BgWhite .valign {
  vertical-align: middle;
  text-align: left;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-BgWhite span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-BgWhite span#rtr-s-BgWhite_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Softkeys-bg {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Softkeys-bg {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Softkeys-bg > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Softkeys-bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Square {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Square {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Circle {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Circle {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Triangle {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Triangle {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Black-cover {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  opacity: 0.24;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Black-cover {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Black-cover > .backgroundLayer > .colorLayer {
  background-color: #303030;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Black-cover .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Black-cover .valign {
  vertical-align: middle;
  text-align: left;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Black-cover span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Black-cover span#rtr-s-Black-cover_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-side-drawer-dialog {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Panel_7 {
  width: 305.0px;
  height: 100.0%;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Panel_7 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Panel_7 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Panel_7 .verticalalign {
  vertical-align: top;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_1 {
  position: absolute;
  width: 304.0px;
  min-height: 740.9999999999999px;
  opacity: 0.9;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_1 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Ellipse_1 {
  width: 80.0px;
  height: 80.0px;
  min-height: 80.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Ellipse_1 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #666666;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_1 {
  position: absolute;
  width: 18.000000000000114px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_1 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_2 {
  position: absolute;
  width: 305.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_2 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_2 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_3 {
  position: absolute;
  width: 305.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lucida Sans',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_3 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_3 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Lucida Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_3 {
  position: absolute;
  width: 305.0px;
  min-height: 57.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_3 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_3 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_36 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_36 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_4 {
  position: absolute;
  width: 152.5px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_4 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_4 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_4 {
  position: absolute;
  width: 305.0px;
  min-height: 57.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_4 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_4 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_141 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_141 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_5 {
  position: absolute;
  width: 153.0000000000001px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_5 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_5 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_5 {
  position: absolute;
  width: 305.0px;
  min-height: 57.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_5 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_5 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_2 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_2 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_6 {
  position: absolute;
  width: 153.0000000000001px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_6 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_6 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_6 {
  position: absolute;
  width: 305.0px;
  min-height: 57.99999999999994px;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_6 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_6 > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_146 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_146 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_7 {
  position: absolute;
  width: 153.0000000000001px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_7 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_7 span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg {
  position: absolute;
  width: 100.0%;
  min-height: 76.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Text {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Text {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Text .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Text span {
  color: #673FB4;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Text span#rtr-s-Text_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-menu {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-menu {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg_status {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg_status {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg_status > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg_status .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-hour {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-hour {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-hour .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-signals {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-signals {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_7 {
  position: absolute;
  width: 140.5px;
  min-height: 126.99999999999997px;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_7 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_7 > .borderLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_3 {
  position: absolute;
  width: 60.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_3 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_9 {
  position: absolute;
  width: 140.5px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_9 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_9 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_8 {
  position: absolute;
  width: 140.5px;
  min-height: 126.99999999999997px;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_8 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_8 > .backgroundLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_8 > .borderLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_8 > .backgroundLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_6 {
  position: absolute;
  width: 60.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_6 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_10 {
  position: absolute;
  width: 140.5px;
  min-height: 18.435483870967687px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_10 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_10 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_9 {
  position: absolute;
  width: 140.5px;
  min-height: 126.99999999999997px;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_9 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_9 > .backgroundLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_9 > .borderLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_9 > .backgroundLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_5 {
  position: absolute;
  width: 60.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_5 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_11 {
  position: absolute;
  width: 140.5px;
  min-height: 18.435483870967687px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_11 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_11 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_2 {
  position: absolute;
  width: 140.5px;
  min-height: 126.99999999999997px;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_2 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_2 > .borderLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 10px 10px 10px 10px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_1 {
  position: absolute;
  width: 60.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Image_1 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_8 {
  position: absolute;
  width: 140.5px;
  min-height: 18.435483870967687px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_8 {
  box-shadow: none;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_8 span {
  color: #673FB4;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #673FB4;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-f904b66a-8209-437d-8524-6a62b59ef728 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
